
@{
    ViewBag.Title = "SlightEdge";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <section class="slider">
        <div>
            <img src="@Url.Content("~/Content/Images/slideEdge.jpg")" style="width:100%; height:600px;" />
        </div>
    </section>

    <div class="content">

        <div id="gray">
            <h2 class="headers">The Beginning</h2>
            <hr />
            <p class="text">
                Hello everyone! <br />
                You are there probably because of curiosity (What is this slight edge ?). Well, in this topic i will try to as clearly as possible explain the magic of Slight Edge work.<br />
                I don't want to summarize the book. I just want to bring the topic closer based on few examples of my life.
                So, let's BEGIN! :)
            </p>
        </div>

        <div id="gray">
            <h2 class="headers">Simple as that</h2>
            <hr />
            <p class="text">
                Slight edge is a simple method of self-improvement. There is no secret magic or trick hiding behind it. Or maybe there is one secret - small activity every day.
                Everyone of us at least once got in the back of our head a think that ripped of our mindset. For example you will have a difficult exam next week - you know that
                without learning passing isn't possible. So the think is simple - you need to learn for it, but in other hand your mind keep telling you that "There is a time
                , leave it for next day". And then your bad influence is gone, beacuse your ego is satisfied what mind told you - "ANOTHER DAY". Obviously you keep doing it to the
                time when you wake up because exam is tomorrow.
                It's a well known situation does it ?<br />
                Thats because you thinks about the whole exam and the material you need to assimilate.<br />
                For now let's think what would happen if you will study a piece of the material for exam every day. Look we've got for example about 50 pages of the data and a week
                to know it (7 days)<br />
                50 : 7 = 7 pages per day and 8 pages one day. <br />
                Of course it seems to be easy but it isn't i know that with my experince of studying :)
                I've just started to adapt myself into this statement since month (06.02.21 when i'm writing this). So i know it's hard and the example which is written above is a small example
                of making changes in our thinking - Do the thing every day not for the whole day but for example 10mins of reading a book <br />
                10mins - 5-10pages <br />
                5-10 pages * 365 days ... You know the drill. Don't get yourself fell uncomfortable with the things that will tear you apart. Do the thing every day
                even the smallest, because that is the key to better future in your life.<br />
                (06.02.2021)
                <br />
                <br />
                This is the place when i will try to make notes about my thinking changing every month. In the future i will try to take in other place as a new subweb.
            </p>
        </div>
    </div>


