
<section class="slider">
    <div class="SlideDisplay fade">
        <img src="@Url.Content("~/Content/Images/img1.jpg")" style="width:100%;height:420px;" />
    </div>

    <div class="SlideDisplay fade">
        <img src="@Url.Content("~/Content/Images/img3.jpg")" style="width: 100%; height: 420px;" />
    </div>
</section>