
<br />
<nav class="refs">
    <ul>
        <li>
            <a href="https://github.com/dgaweda" class="reference" target="_blank">GitHub</a>
        </li>
        <li>
            <a href="https://www.facebook.com/darek.gaweda/" class="reference">Facebook</a>
        </li>
        <li>
            <a href="https://drive.google.com/file/d/14K25J_YR5aW6FKCtyH74_Fekh43tVynQ/view?usp=sharing" target="_blank" class="reference">My CV</a>
        </li>
        <li>
            <a href="https://www.youtube.com/user/MiroslawZelent" class="reference" target="_blank">M.Zelent</a>
        </li>
    </ul>
</nav>
